body {
    background-color: #505050;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

main {
    background-color: rgba(255, 255, 255, 0.1);
    max-width: 37.5rem;
    border-radius: 0.625rem;
    padding: 0.625rem 1.875rem;
}

h2 {
    color: rgb(236, 170, 236);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.625rem;
    padding: 0.625rem;
}

button {
    background-color: rgb(177, 134, 218);
    border: 0 none;
    padding: 0.625rem;
    font-size: 1.25rem;
    color: white;
    border-radius: 0.3125rem;
    cursor: pointer;
    margin: 0.625rem;
}
